<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <h6 class="text-danger text-center" *ngIf="errorMsg">{{errorMsg}}</h6>
            <form class="form-signin" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
              <div class="form-label-group">
                <label for="inputEmail">Username</label>
                <input type="text" #username="ngModel" name="username" id="username" class="form-control" placeholder="Username" required autofocus ngModel>
                <small *ngIf="username.touched && username.invalid" class="text-danger">Username is required!</small>
              </div>

              <div class="form-label-group">
                <label for="inputPassword">Password</label>
                <input type="password" #password="ngModel" name="password" id="password" class="form-control"  placeholder="Password" required ngModel>
                <small *ngIf="password.touched && password.invalid" class="text-danger">Password is required!</small>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]="loginForm.invalid">Sign in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>